
@media print {
    @page {
        size: landscape;
        margin-top:.5in;
    }

    .noprint {
        display: none;
    }
    .printArea {
        display: block;
    }
    table.table-bordered {
        border: 1px solid #000;
        margin-top: 20px;
    }

        table.table-bordered > thead > tr > th {
            border: 1px solid #000;
        }

        table.table-bordered > tbody > tr > td {
            border: 1px solid #000;
        }
        table.table-bordered > tfoot > tr > td {
            border: 1px solid #000;
        }
}