@model RTEXERP.Contracts.BLModels.Maxco.ViewModel.KnittingRequirementSheetVM
@{
    ViewData["Title"] = "KRS Order Fabric";
    ViewData["pageTitle"] = "KRS Order Fabric";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-controller="knittingRequirementSheet" id="frmKRSOrderSheet" asp-action="OrderWiseKRSInfo">
    <div class="row">


        <div class="col-md-3">
            <div class="from-group">
                <label class="label-ajt-sm required">Date Duration</label>
                <div class="row">
                    <div class="col-md-5">
                        <input type="text" class="form-control form-control-sm DateFrom dateField" autocomplete="off" id="DateFrom" />
                    </div>
                    <div class="col-md-1">-</div>
                    <div class="col-md-5">
                        <input type="text" class="form-control form-control-sm DateTo dateField" autocomplete="off" id="DateTo" />
                    </div>
                    <div class="col-md-1 pl-0 ml-0 text-left">
                        <button type="button" class="btn btn-xs btn-danger" id="clearDate">CD</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-md-3">
            <div class="form-group">
                <label class="label-ajt-sm required" asp-for="BuyerID"></label>
                <select class="form-control form-control-sm" required asp-for="BuyerID" asp-items="Model.BuyerList"></select>
            </div>
        </div>
        @*<div class="col-md-3">
            <div class="form-group">
                <label asp-for="DateFrom" class="label-ajt-sm required"></label>
                <input asp-for="DateFrom" class="form-control form-control-sm dateField" autocomplete="off" />
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <label asp-for="DateTo" class="label-ajt-sm required"></label>
                <input asp-for="DateTo" class="form-control form-control-sm dateField" autocomplete="off" />
            </div>
        </div>*@
        <div class="col-md-3">
            <div class="form-group">
                <label class="label-ajt-sm required" asp-for="OrderID"></label>
                <select class="form-control form-control-sm" required asp-for="OrderID" asp-items="Model.OrderList"></select>
            </div>
        </div>
        <div class="col-md-3">
            <label>&nbsp;</label>
            <div class="form-group">
                <button type="button" class="btn btn-sm btn-success" id="btnShowKRSInfo">Show KRS Info</button>
            </div>
        </div>
    </div>
    <div class="row KrsFabricDiv" style="display:none">
        <div class="col-md-12">
            <table class="table table-sm table-bordered text-center" style="font-size:12px;" id="tblFabricBooking">
                <thead>
                    <tr class="bg-danger">
                        <th colspan="3">KRS NO :</th>
                        <th colspan="8" class="KRSNo"></th>
    
                    </tr>
                    <tr>
                        <th>SL</th>
                        <th>KRS</th>
                        <th>Order</th>
                        <th>Fabric Type</th>
                        <th>Fabric Quality</th>
                        <th>Composition</th>
                        <th>GSM</th>
                        <th>Finish Width</th>
                        <th>Pantone</th>
                        <th>Color</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody style="font-size:11px;">
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8"></td>
                        <td colspan="2">Total Quantity :</td>
                        <td class="TotalQuantity"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</form>
@section scripts{
<script type="text/javascript">
    $(function () {
        $("#BuyerID").chosen();
        $("#OrderID").chosen();
        $("#BuyerID").change(function () {
            const dateFrom = $("#DateFrom").val();
            const dateTo = $("#DateTo").val();
            var buyerID = $("#BuyerID").val();
            var dropDownOption = GenerateDropDownOptions('CommonDropDown', 'DDLBuyerWiseOrder', { "BuyerID": buyerID, "DateFrom": dateFrom, "DateTo": dateTo }, "");
            $("#OrderID").html(dropDownOption);
            $('#OrderID').trigger("chosen:updated");
          });

        $("#OrderID").change(function () {
                GetKrsOrderFabric();
        });
        $("#btnShowKRSInfo").click(function () {
                GetKrsOrderFabric();
        })
         $("#clearDate").click(function () {
                const dateFrom = $("#DateFrom").val();

                if (!dateFrom) {
                    $(".DateFrom").val('@Model.DateFrom')
                    $(".DateTo").val('@Model.DateTo')
                } else {
                      $("#DateFrom").val("")
                    $("#DateTo").val("")
                }
            })
    })

    function GetKrsOrderFabric() {
       
      let  orderID = $("#OrderID").val();
        if (orderID != "") {
            $.ajax({
                type: 'GET',
                url: '/Maxco/knittingRequirementSheet/GetKRSOrderFabricListByKrsIDAndOrderID',
                data: { orderID: orderID },
                dataType: 'json',
                async: false,
                success: function (data) {
                    if (data.length > 0) {
                        let tr = ``;
                        let totalQuantity = 0;
                        let kRSNO = data[0].KRS_MID.toString();
                         
                        $.each(data, function (i, v) {
                            totalQuantity += v.Quantity;
                           if (kRSNO.includes(v.KRS_MID.toString()) == false) {
                                kRSNO += ', '+v.KRS_MID
                            }
                            tr += `<tr data-id=${(i + 1)}><td>${i + 1}</td>
                                            <td>${v.KRS_MID}</td>
                                            <td>${v.OrderNo}</td>
                                            <td>${v.FabricType}</td><td>${v.FabricQuality}</td>
                                            <td>${v.FAB_COMPOSITION}</td><td>${v.GSM}</td>
                                            <td>${v.FINISHED_WIDTH}</td><td>${v.PantoneNo}</td>
                                            <td>${v.ColorName}</td><td>${v.Quantity}</td>
                                        </tr>`;

                        });
                        $("#tblFabricBooking tbody").html(tr);
                        $(".TotalQuantity").text(totalQuantity.toFixed(2));
                        $(".KRSNo").text(kRSNO);
                        $(".KrsFabricDiv").show();
                    }
                    else {
                        debugger
                        $.alert.open('error', 'There is no KRS Order Fabric');
                       // alert("There is no KRS Order Fabric");
                        $(".KrsFabricDiv").hide();
                    }
                },
                error: function (request, status, error) {
                    alert(request.statusText + "/" + request.statusText + "/" + error);
                }
            });
        } else {
            $(".KrsFabricDiv").hide();
        }


    }
    
</script>
}