@model RTEXERP.Contracts.BLModels.Maxco.ViewModel.KnittingRequirementSheetVM
@{
    ViewData["Title"] = "Order Print History";
    ViewData["pageTitle"] = "Order Print History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .select2-selection__choice {
        background-color: #007bff !important;
        margin-top: 3px !important;
        font-size: 13px !important;
    }

    .select2-results__option {
        font-size: 13px !important;
    }

    .select2-selection__rendered {
        padding-left: 2px !important;
    }

    .select2-search__field {
        margin-top: 2px !important;
    }
</style>

<form method="post" id="FrmOrderHistoty">
    <div class="row noprint no-print">
        <div class="col-md-2">
            <div class="form-group">
                <label class="label-ajt-sm required" asp-for="BuyerID"></label>
                <select class="form-control form-control-sm" asp-for="BuyerID" asp-items="Model.BuyerList"></select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="label-ajt-sm required" asp-for="OrderID"></label>
                <select class="form-control select2Filter" asp-for="OrderID" multiple="multiple" asp-items="Model.OrderList"></select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group">
                <label class="label-ajt-sm required" asp-for="DateTo"></label>
                <input type="text" class="form-control form-control-sm dateField" asp-for="DateTo" />
            </div>
        </div>
        <div class="col-md-2">
            <label>&nbsp;</label>
            <div class="form-group">
                <button type="button" class="btn btn-sm btn-warning" id="btnPdf">PDF</button> &nbsp;&nbsp;
                <button type="button" class="btn btn-sm btn-danger" id="btnExcel">Excel</button>
            </div>
        </div>
        @*<div class="col-md-1">
                <label>&nbsp;</label>
                <div class="form-group">
                    <button type="button" class="btn btn-sm btn-danger" id="btnPrint" onClick="window.print()">Print</button>
                </div>
            </div>*@
    </div>
     

</form>
@section scripts{
    <script type="text/javascript">
        function OrderHistoryReportPrint(reportFormat) {
            debugger;
            let orderID = $("#OrderID").val();
            let dateTo = $("#DateTo").val();
            if (orderID.length>0) {
                window.open("/OrderHistory/OrderPrintHistoryReportPrint?OrderID=" + orderID + "&UpToDate=" + dateTo+"&ReportFormat=" + reportFormat, "Order Print History", "status=1,toolbar=0");
            }
        return false;

        }
        $(function () {
            //$("#BuyerID").chosen();
            //$('.select').select2();
            $("#BuyerID").change(function () {
                var buyerID = $("#BuyerID").val();
                var dropDownOption = GenerateDropDownOptions('CommonDropDown', 'DDLBuyerWiseOrder', { "BuyerID": buyerID, "DateFrom": '', "DateTo": '@Model.DateTo' }, "");
                $("#OrderID").html(dropDownOption);
                $('#OrderID').trigger("chosen:updated");
            });

            $("#btnPdf").click(function () {
                OrderHistoryReportPrint("@RTEXERP.Common.Constants.ReportExportFormat.PdfFormat.ToString()");

            });

            $("#btnExcel").click(function () {
                OrderHistoryReportPrint("@RTEXERP.Common.Constants.ReportExportFormat.ExcelFormat.ToString()");

            });
        });

    </script>
}