@model RTEXERP.Contracts.BLModels.CMS.GarmentsProductionReportVM

@{
    ViewData["Title"] = "Garments Production";
    ViewData["pageTitle"] = "Garments Production";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<style type="text/css">
    .table-fit {
        width: 1px;
    }
</style>*@

<form id="dd" method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DateFrom" class="label-ajt-sm required"></label>
                <input type="text" asp-for="DateFrom" class="form-control form-control-sm dateField" autocomplete="off" />
                <span asp-validation-for="DateFrom" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="DateTo" class="label-ajt-sm required"></label>
                <input type="text" asp-for="DateTo" class="form-control form-control-sm dateField" autocomplete="off" />
                <span asp-validation-for="DateTo" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="ReportFor" class="label-ajt-sm required"></label>
                <select asp-for="ReportFor" asp-items="Model.DDLReportFor" class="form-control form-control-sm"></select>
                <span asp-validation-for="ReportFor" class="text-danger"></span>
            </div>
        </div>

    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="box-footer">
                <button type="button" class="btn btn-sm btn-success" id="btnShow">Show</button>

            </div>
        </div>
    </div>
</form>






@section scripts{
    <script>

        $(document).ready(function () {

            $("#btnShow").click(function (e) {
                e.preventDefault();

                var ReportDate = $("#DateFrom").val();
                var ReportDateToMsg = $("#DateTo").val();
                var ReportFor = $("#ReportFor").val();

            if (!ReportDate) {
                ReportDate = @DateTime.Now.ToShortDateString();
                ReportDateToMsg =@DateTime.Now.ToShortDateString();
                ReportFor=2
            }


                var url = `/MDReport/MDDocuments/GarmentsProductionReportPage?ReportDate=${ReportDate}&ReportDateTo=${ReportDateToMsg}&ReportFor=${ReportFor}`;

                window.open(url);


            });
        })





    </script>

}
