
@model RTEXERP.Contracts.BLModels.CMS.SalaryAnalysisDataPageViewModel

@{
    ViewData["Title"] = "Month Wise Salary Analysis";
    ViewData["pageTitle"] = "Month Wise Salary Analysis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<style type="text/css">
    .table-fit {
        width: 1px;
    }
</style>*@

<form id="dd" method="post">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="PeriodID" class="label-ajt-sm required"></label>
                <select asp-for="PeriodID" asp-items="Model.PeriodList" class="form-control form-control-sm"></select>
                <span asp-validation-for="PeriodID" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row monthly" style="display:none">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="MonthID" class="label-ajt-sm required"></label>
                <select asp-for="MonthID" asp-items="Model.DDLMonthList" class="form-control form-control-sm"></select>
                <span asp-validation-for="MonthID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Year" class="label-ajt-sm required"></label>
                <select asp-for="Year" asp-items="Model.DDLYearList" class="form-control form-control-sm"></select>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <label>&nbsp;</label>
            <div class="form-group">
                <button type="button" class="btn btn-sm btn-success" id="btnMonthWiseShow">Show</button>
            </div>
        </div>
    </div>
    <div class="row Yearly" style="display:none">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Year" class="label-ajt-sm required"></label>
                <select asp-for="Year" asp-items="Model.DDLYearList" class="form-control form-control-sm"></select>
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-2">
            <label>&nbsp;</label>
            <div class="form-group">
                <button type="button" class="btn btn-sm btn-success" id="btnYearlyShow">Show</button>
            </div>
        </div>
    </div>
</form>
@section scripts{
    <script>

        $(document).ready(function () {

            $("#PeriodID").change(function () {
                let period = $("#PeriodID").val();
                if (period == "MonthLy") {
                    $(".monthly").show();
                    $(".Yearly").hide();
                } else if (period == "Yearly") {
                    $(".Yearly").show();
                    $(".monthly").hide();
                } else {
                    $(".monthly").hide();
                    $(".Yearly").hide();
                }
            })

            $("#btnMonthWiseShow").click(function (e) {
                    e.preventDefault();

                    var MonthID = $("#MonthID").val();
                    let Year = $("#Year").val();

                var url = `/MDReport/MDDocuments/MonthWiseSalaryAnalysisReportPage?MonthID=${MonthID}&Year=${Year}`;

                    window.open(url);
            });

            $("#btnYearlyShow").click(function (e) {
                e.preventDefault();

                //  var MonthID = $("#MonthID").val();
                let Year = $("#Year").val();

                var url = `/MDReport/MDDocuments/YearlySalaryAnalysisReportPage?Year=${Year}`;

                window.open(url);
            });


            });

    </script>

}

