<ul class="sidebar-menu" data-widget="tree">
    <li> <a asp-controller="business/OrderInfo" asp-action="OrderModel"><i class="fa fa-star"></i><span> Models</span></a></li>
    <li> <a href="index2.html"><i class="fa fa-ship"></i><span> Shipment</span></a></li>  
</ul>